@font-face {
    font-family: 'Samsung';
    src: url(/samsung.ttf);
    font-display: swap;
}
.code{
    background: #000000;
    color:#2196f3; 
    width:450px;
    font-family: 'Samsung' !important;
}
@media screen and (max-width: 550px) {
    .cdnlink {
        width: 450px !important;
    }
}

@media screen and (max-width: 450px) {
    .cdnlink {
        width: 300px !important;
    }
}